#pressure-tab {
    .sd-upgrade .clickable {
        &.can {
            color: var(--color-venus-700);

            .upgrade-content {
                color: var(--color-venus-800);
            }
        }

        &.locked {
            .upgrade-content {
                color: var(--color-venus-100);
            }
        }
    }
}