#pressure-tab {
    .pressure-reset-button .clickable {
        border: 0;
        min-height: 0;
        height: 90px;
        width: 240px;
        color: var(--color-black);

        .can&:hover {
            box-shadow: 0 0 20px var(--outline-lighter);
        }
    }
}