#pressure-tab {
    /* .volcano-wrapper {
        width: 312px;
        height: 125px;
        background: #5c4033;
        clip-path: polygon(0% 100%, 20% 58%, 40% 1%, 50% 15%, 60% 1%, 80% 58%, 100% 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .volcano {
        width: 95%;
        height: 95%;
        background: var(--background);
        clip-path: polygon(0% 100%, 20% 58%, 40% 1%, 50% 15%, 60% 1%, 80% 58%, 100% 100%);
    } */



    /* #8B4513 */




}