#silicate-layer {
    .lava-conversion-toggle {
        margin: 0;

        span:before {
            background-color: var(--color-venus-500);
        }

        span:after {
            background-color: var(--color-venus-300);
        }
    }

    .lava-type-slider input {
        accent-color: var(--color-venus-400);
    }

    .conversion-toggle-button {
        .clickable {
            width: 142px;
            padding: 12px;
            color: var(--color-venus-700);
        }

        &.toggled .clickable {
            color: var(--color-venus-100);
            background-color: var(--bought);
            cursor: default;
        }
    }
}