#silicate-layer {
    .lava-conversion-toggle {
        margin: 0;

        span:before {
            background-color: var(--color-venus-500);
        }

        span:after {
            background-color: var(--color-venus-300);
        }
    }

    .lava-type-slider input {
        accent-color: var(--color-venus-400);
    }

    .normal-repeatable .clickable {
        height: 200px;
        width: 150px;
    }
}