#tephra-layer {
    .normal-repeatable .clickable {
        height: 200px;
        width: 150px;
    }

    .sd-upgrade .clickable, .normal-repeatable .clickable {
        &.can {
            color: var(--color-venus-700);

            .upgrade-content {
                color: var(--color-venus-800);
            }
        }

        &.locked {
            .upgrade-content {
                color: var(--color-venus-100);
            }
        }
    }
}