:root {
    color-scheme: dark;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/Neris-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/Neris-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-LightItalic.woff2') format('woff2'),
        url('assets/fonts/Neris-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Neris-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-Black.woff2') format('woff2'),
        url('assets/fonts/Neris-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-Thin.woff2') format('woff2'),
        url('assets/fonts/Neris-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/Neris-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Neris-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neris';
    src: url('assets/fonts/Neris-Light.woff2') format('woff2'),
        url('assets/fonts/Neris-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

* {
	transition-duration: 0.5s;
	font-family: "Neris", monospace;
	font-variant-numeric: tabular-nums;
	font-weight: bold;
	margin: auto;
	text-size-adjust: none;
}

*:focus {
	outline: none;
}

body {
	overflow: hidden;
	transition: none;
	text-align: center;
}

html, body, #app {
	min-height: 100%;
	height: 100%;
}

h1, h2, h3, b, input {
	display: inline;
}

button {
	color: black;
}

a,
.button,
.link {
	display: block;
	color: var(--link);
	background: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

a:hover,
.button:hover,
.link:hover {
	text-shadow: 5px 0 10px var(--link),
		-3px 0 12px var(--link);
}

.button:disabled {
	opacity: .5;
	cursor: not-allowed;
}
.button:disabled:hover {
	text-shadow: none;
}

ul {
	list-style-type: none;
}

.Vue-Toastification__toast {
	margin: unset;
}

:disabled {
	pointer-events: none;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}
