.modifier-toggle {
    padding-right: 10px;
    transform: translateY(-1px);
    display: inline-block;
}

.modifier-toggle.collapsed {
    transform: translate(-5px, -5px) rotate(-90deg);
}

.node-text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: monospace;
    font-size: 200%;
    pointer-events: none;
    filter: drop-shadow(3px 3px 2px var(--tooltip-background));
}

.gap-4 {
    gap: 1rem;
}

.feature.small .treeNode {
    height: 64px;
    width: 64px;
}

.fit-content .clickable {
    min-height: 32px;
    width: fit-content;
    height: fit-content;
    padding: 8px;
}

.flex {
    display: flex;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

@font-face {
  font-family: "AstronomicSigns";
  src: url("../assets/fonts/AstronomicSignsSt-YLYO.ttf");
}

.celestial-body-icon {
    font-family: 'AstronomicSigns';
    display: flex;
    margin: 0;
}
