.modifier-toggle {
    padding-right: 10px;
    transform: translateY(-1px);
    display: inline-block;
}

.modifier-toggle.collapsed {
    transform: translate(-5px, -5px) rotate(-90deg);
}

.node-text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: monospace;
    font-size: 200%;
    pointer-events: none;
    filter: drop-shadow(3px 3px 2px var(--tooltip-background));
}

.gap-4 {
    gap: 1rem;
}

.feature.small .treeNode {
    height: 64px;
    width: 64px;
}

.fit-content .clickable {
    min-height: 32px;
    width: fit-content;
    height: fit-content;
    padding: 8px;
}

.flex {
    display: flex;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

@font-face {
  font-family: "AstronomicSigns";
  src: url("../assets/fonts/AstronomicSignsSt-YLYO.ttf");
}

.celestial-body-icon {
    font-family: 'AstronomicSigns';
    display: flex;
    margin: 0;
}

    .feature.squashed-clickable .clickable {
        min-height: 0;
        width: 100%;
        margin: 0;
        /* border-bottom-left-radius: 8px; */
    }

.cappable-resource-container {
    /* border-radius: 8px 8px 0 0; */
    border-radius: 0 0 8px 8px;
    border: 2px solid var(--raised-background);
    /* overflow: hidden; */
    margin: 0;
    flex: 1;

    /* display: flex;
    flex-direction: column; */

    .title {
        /* border-bottom: 1px solid var(--raised-background); */
        /* margin-bottom: 2px; */
        padding-bottom: 2px;
    }

    .feature .bar .border {
        /* border-color: none; */
        border-top: 2px solid var(--raised-background);
        /* border-bottom: 1px solid var(--raised-background); */
        border-bottom: none;
    }
}